body{
    padding:0;
    margin:0;
    width: auto;
    height: 56.8vh;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right top, #d4ddeb, #b0c0ec, #9b9fe9, #9679dd, #9e4bc6);
    /* background-size: cover; */
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
}
.input-box{ 
    background: #fff;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(0,0,0.5,0.8);
}
.input-box input{
    width: 100%;
    padding: 10px 0px;
    margin-left: -10px;
    outline: 0;
    border: 0;
    font-size: 22px;
    cursor: bold;
}
.input-box img{
    margin-left: 8px;
    width: 35px;
    cursor: pointer;
}
.submit-btn{
    position: absolute;
    left: 700px;
    width: 100%;
    max-width: 120px;
    height: 40px;
    bottom: 230px;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgb(0,0,0.5,0.8);
}
button:hover{
    background-color: rgb(234, 221, 240);
    transform: scale(1.0);
    font-weight: bold;
    transition: 0.2s;
    color: #d24ad6;
}
.popup-box{
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 570px;
    top: -100px;
    visibility: hidden;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 0px 5px 5px rgb(0,0,0,0.5);
    border-radius: 15px;
}
.openpop-up{
    visibility: visible;
    top:250px
}
.popup-box img{
    width: 90px;
    margin-top: -40px;
}
.popup-box h1{
    margin: 32px 0px 10px;
    font-weight: 500;
}
.popup-box button{
    width: 100%;
    margin-top: 20px;
    max-width: 300px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    background-color: rgb(93, 222, 88);
    box-shadow: 0px 5px 5px rgb(0,0,0,0.5);
}